<!-- <div *ngIf="!showMainCode" (click)="toggleMainCode()" class="cover-page">
  <h1>Click Here</h1>
</div> -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#codeModal">
  Open Code
</button>

<div class="modal fade" id="codeModal" tabindex="-1" aria-labelledby="codeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="codeModalLabel">Counter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Your main code here -->
        <h1 class="container-fluid text-center">Counter</h1>
        <div class="container-fluid counter">
          <p class="fw-bolder position-absolute fs-1 mt-3" style="top: 60px; right:50px ;" [class]="{'gr':evenFlag,'kk':!evenFlag}">{{isEven}}</p>
          <h2>Count: <span class="fs-2">{{count}}</span></h2>
          <div>
            <button class="btn btn-primary  w-20 m-2" (click)="incr()" [disabled]="isposDisabled">+</button>
            <button class="btn btn-primary  w-20 m-2" (click)="decr()" [disabled]="isnegDisabled">-</button>
            <button class="btn btn-danger w-20 m-2" (click)="reset()">reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div *ngIf="showMainCode">
<h1 class="container-fluid text-center">Counter</h1>
<div class="container-fluid counter">
  <p class="fw-bolder position-absolute fs-1 mt-3" style="top: 186px; right:210px ;" [class]="{'gr':evenFlag,'kk':!evenFlag}">{{isEven}}</p>
  <h2>Count: <span class="fs-2">{{count}}</span></h2>
  <div>
    <button class="btn btn-primary  w-20 m-2" (click)="incr()" [disabled]="isposDisabled">+</button>
    <button class="btn btn-primary  w-20 m-2" (click)="decr()" [disabled]="isnegDisabled">-</button>
    <button class="btn btn-danger w-20 m-2" (click)="reset()">reset</button>
  </div>

</div>
</div> -->